@import url('reset.css');

body {
	font-size: 20px;
	line-height: 34px;
	background: url(../img/gaming-pattern.png);
	background: url(../img/naturalblack.png);
	font-family: 'Slabo 27px', serif;
}

* {
	box-sizing: border-box;
	margin: 0;
}

html,
body {
	height: 100%;
}
a {
	margin: 15px;
	color: #8a75ff;
	  	text-shadow:
		0px -0px 0 #000,
		0px 0px 0 #000,
		0px 1px 0 #000,
		0px 0px 0 #000;
}

/*header*/

a:hover {
	cursor: pointer;
	color: white;
}

header {
	padding: 25px;
	background: url(../img/tweed.png);
}

.header-sentence {
	margin-top: 10px;
	float: right;
	color: white;
}

.photo-header {
	position: relative;
	font-family: 'Bangers', cursive;
	color: white;
}

.photo {
	max-width: 100%;
	opacity: 0.7;
}

.photo-child {
	position: absolute;
	text-align: center;
	justify-content: center;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    line-height: 60px;
    color: #c5c5e6;
   	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

/*article divs*/

ul {
	margin: 20px;
	padding: 7px;
	border-radius: 10px;
	background: url(../img/tweed.png);
}

.title {
	font-size: 30px;
	padding: 10px;
	color: white;
	font-family: 'Fjalla One', sans-serif;
}

/*buttons*/

.scrape-button {
	padding: 15px;
	background: #8a75ff;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	box-shadow: 4px 3px 11px #000;
}

.scrape-button:hover {
	cursor: pointer;
	background: url(../img/naturalblack.png);
	color: white;
}

.save-button, .delete-article-button,
.delete-comment-button, .submit-comment {
	background: #8a75ff;
	padding: 10px;
	border-radius: 5px;
	margin: 15px;
	border: none;
	box-shadow: 4px 3px 11px #000;

}

.save-button:hover, .delete-article-button:hover,
.delete-comment-button:hover, .submit-comment:hover {
	cursor: pointer;
	background: url(../img/naturalblack.png);
	color: white;
	box-shadow: 4px 3px 20px #000;
}

/*comment divs*/

.comment-div {
	margin: 10px;
	background: url(../img/naturalblack.png); 
	overflow: scroll;
	max-width: 520px;
	max-height: 240px;
}

.comment-header {
	color: white;
	text-align: center;
}

.comment-area {
	padding: 10px;
	width: 402px;
	margin: 10px;
	margin-top: 25px;
}

/*mobile view*/

@media only screen and (max-width: 640px) {
	.photo-child{
		font-size: 30px;
		line-height: 30px;
	}

	.comment-area {
		width: 280px;
	}
}